<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Regístrate</title>
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>
  <body class="register-page bg-body-secondary">
    <div class="register-box">
      <div class="register-logo">
        <b>Regístrate</b>
      </div>
      <div class="card">
        <div class="card-body register-card-body">
          <form action="../index3.html" method="post">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Nombre completo" />
              <div class="input-group-text"><span class="bi bi-person"></span></div>
            </div>
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Correo" />
              <div class="input-group-text"><span class="bi bi-envelope"></span></div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Contraseña" />
              <div class="input-group-text"><span class="bi bi-lock-fill"></span></div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="d-grid gap-2">
                  <a href="/comentarios" class="btn btn-primary text-white">Finalizar</a>
                </div>
              </div>
            </div>
          </form>
          <div class="social-auth-links text-center mb-3 d-grid gap-2">
            <p>- ó -</p>
            <a href="#" class="btn btn-info">
              <i class="bi bi-instagram me-2"></i> Regístrate mediante Instagram
            </a>
          </div>
          <p class="mb-0">
            <a href="/" class="text-center"> Regresar </a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
