<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>comentarios de clientes potenciales</title>
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>

<body>
<div class="card mb-4">
    <div class="card-header">
      <h2 class="card-title">Tabla de clientes potenciales</h2>
    </div>
    <div class="card-body p-0">
      <a href="/comentarios/agregar" class="text-decoration-none">Agregar</a>
      <table class="table table-sm">
        <thead>
          <tr>
            <th style="width: 10px">ID</th>
            <th>ID del producto</th>
            <th>Comentario</th>
            <th>ID usuario</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr class="align-middle">
            <td>101</td>
            <td>2</td>
            <td>Smartphone de última generación con cámara de 108 MP</td>
            <td>50</td>
            <td><a href="/comentarios/eliminar" class="text-decoration-none">Eliminar</a></td>
            <td><a href="/comentarios/editar" class="text-decoration-none">Editar</a></td> 
          </tr>
          <tr class="align-middle">
            <td>205</td>
            <td>18</td>
            <td>Aspiradora robótica con sensores inteligentes</td>
            <td>15</td>
            <td><a href="/comentarios/eliminar" class="text-decoration-none">Eliminar</a></td>
            <td><a href="/comentarios/editar" class="text-decoration-none">Editar</a></td> 
          </tr>
          <tr class="align-middle">
            <td>312</td>
            <td>232</td>
            <td>Bicicleta de montaña con suspensión doble</td>
            <td>8</td>
            <td><a href="/comentarios/eliminar" class="text-decoration-none">Eliminar</a></td>
            <td><a href="/comentarios/editar" class="text-decoration-none">Editar</a></td> 
          </tr>
          <tr class="align-middle">
            <td>430</td>
            <td>32</td>
            <td>Reloj inteligente con monitoreo de salud</td>
            <td>30</td>
            <td><a href="/comentarios/eliminar" class="text-decoration-none">Eliminar</a></td>
            <td><a href="/comentarios/editar" class="text-decoration-none">Editar</a></td> 
          </tr>
          <tr class="align-middle">
            <td>578</td>
            <td>092</td>
            <td>Paquete de café gourmet 100% arábica</td>
            <td>100</td>
            <td><a href="/comentarios/eliminar" class="text-decoration-none">Eliminar</a></td>
            <td><a href="/comentarios/editar" class="text-decoration-none">Editar</a></td> 
          </tr>
          <tr class="align-middle">
            <td>23</td>
            <td>43</td>
            <td>Set de construcción con 500 piezas</td>
            <td>25</td>
            <td><a href="/comentarios/eliminar" class="text-decoration-none">Eliminar</a></td>
            <td><a href="/comentarios/editar" class="text-decoration-none">Editar</a></td> 
          </tr>
          <tr class="align-middle">
            <td>795</td>
            <td>121</td>
            <td>Purificador de aire con filtro HEPA</td>
            <td>12</td>
            <td><a href="/comentarios/eliminar" class="text-decoration-none">Eliminar</a></td>
            <td><a href="/comentarios/editar" class="text-decoration-none">Editar</a></td> 
          </tr>
        </tbody>        
      </table>
      <a href="/" class="text-decoration-none">Cerrar sesion.</a>
    </div>
  </div>
</div>
</body>
</html>