<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Eliminar Comentario</title>
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>
  <body>
    <div class="card card-danger card-outline mb-4">
      <div class="card-footer">
        <a href="/comentarios" class="btn btn-secondary text-white text-center">Cancelar</a>
      </div>
      <div class="card-header">
        <div class="card-title">Eliminar comentario.</div>
      </div>
      <form>
        <div class="card-body">
          <div class="mb-3">
            <label for="IDempresaInput" class="form-label">ID de empresa</label>
            <input type="text" class="form-control" id="idempresaInput" value="12345" readonly>
          </div>
          <div class="mb-3">
            <label for="IDproductoInput" class="form-label">ID del producto</label>
            <input type="text" class="form-control" id="IDproductoInput" value="67890" readonly>
          </div>
          <div class="mb-3">
            <label for="comentarioInput" class="form-label">Comentario</label>
            <input type="text" class="form-control" id="comentarioInput" value="Este es un comentario de prueba." readonly>
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" disabled>
            <label class="form-check-label" for="exampleCheck1">Aceptar</label>
          </div>
        </div>
        <div class="card-footer">
            <a href="/comentarios" class="btn btn-danger text-white text-center">Eliminar comentario</a>
        </div>
      </form>
    </div>
  </body>
</html>
